# Dependencies
node_modules

# Build output
dist
build
coverage

# Migrations
src/database/migrations

# Logs
*.log
npm-debug.log*

# Environment files
.env*
!.env.example

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
